<% if logged_in? %>
<p>This page will tell you if you are logged in or not!</p>
<% else %>
<h1>Come Sign In!</h1>
<% end %>

<%= form_for(:session, url: sessions_path) do |f| %>
    <%= f.label :email %> <%= f.text_field :email %>
    <%= f.label :password %> <%= f.password_field :password %>

    <%= f.submit "Sign In!" %>
<% end %>

<%= link_to "Sign up!", signup_path %><br>
<%= link_to "Log in!", sessions_path %><br>
<%= link_to "Log out!", log_out_path, method: :delete%>